.tabs-container {
  position: relative;
  width: 100%;
  margin: 2em auto;
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  &__item {
    border: 1px solid #ccc;
    border-bottom: none;
    line-height: 2.5;
    padding: 0 1em;
    margin-right: 1px;
    background-color: #eee;
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 1px;
    z-index: 0;

    &.active {
      background-color: white;
      z-index: 20;
     
    
    }
  }
}


.panels {
    border: 1px solid #ccc;
    padding: 1em;
    position: relative;
    z-index: 10;

    &__item{
        position: absolute;
        left: -5000px;

    &.active {
        position: relative;
        left: 0;
    }
    }
}


